<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='appointment_form.css') }}">
    <title>Выбор времени</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 class="h2-specialization">Время</h2>
    <div class="calendar-container">
        <div class="calendar-header">
            <button class="calendar-arrow-left" onclick="prevMonth()">
                <img src="{{ url_for('static', filename='images/icon1.svg') }}" alt="Icon" width="10" height="28">
            </button>
            <div class="calendar-title">

                <img src="{{ url_for('static', filename='images/icon3.svg') }}" alt="Icon" width="18" height="22">
                <span id="calendar-month">Август</span>
            </div>
            <button class="calendar-arrow-right" onclick="nextMonth()">
                <img src="{{ url_for('static', filename='images/icon2.svg') }}" alt="Icon" width="10" height="28">
            </button>
        </div>

        <table class="calendar-table">
            <thead>
            <tr>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
            </thead>
            <tbody id="calendar-body">

            </tbody>
        </table>

    </div>
    <div class="calendar-bottom-border"></div>
    <h2 class="h2-specialization">Выберите доступное время:</h2>

    <div class="time-options" id="time-options">

    </div>
    <div id="selected-date-time" class="selected-date-time"></div>

    <div class="calendar-bottom-border"></div>
    <form id="appointment-form">
        <label for="fio" class="h2-specialization" style="margin-top: 10px">ФИО</label>
        <input type="text" id="fio" name="fio " class="fio" placeholder="Впишите ваше ФИО">

        <div class="calendar-bottom-border"></div>

        <label for="additional-info" class="h2-specialization">Дополнительная информация:</label>
        <textarea id="additional-info" name="additional-info"
                  placeholder="Впишите информацию, необходимую для приема"></textarea>


        <form id="file-upload-form">
            <input type="file" id="file-upload" style="display: none;"/>
            <button type="button" class="styled-button" onclick="document.getElementById('file-upload').click();">
                Выбрать файл
            </button>
            <span id="file-name" style="margin-left: 10px;">Файл не выбран</span>
        </form>

        <label class="custom-checkbox-label">
            Прикрепить журнал
            <input type="checkbox" id="attach-journal" name="attach-journal" class="custom-checkbox">
            <span class="checkmark"></span>
        </label>


        <button type="submit" class="submit-button">Записаться</button>
    </form>
</div>




<script>
    const availableTimes = {
        "2024-08-01": ["08:00", "09:00", "12:30", "16:40"],

    };

    let selectedDate = null;
    let selectedTime = null;
    let currentMonth = 7;
    let currentYear = 2024;

    const months = [
        "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль",
        "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"
    ];

    function generateCalendar() {
        const calendarBody = document.getElementById('calendar-body');
        calendarBody.innerHTML = '';

        const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
        const firstDayIndex = new Date(currentYear, currentMonth, 1).getDay();
        let day = 1;

        document.getElementById('calendar-month').textContent = `${months[currentMonth]} ${currentYear}`;

        for (let i = 0; i < 6; i++) {
            const row = document.createElement('tr');
            for (let j = 0; j < 7; j++) {
                const cell = document.createElement('td');
                if (i === 0 && j < (firstDayIndex === 0 ? 6 : firstDayIndex - 1)) {
                    row.appendChild(cell);
                    continue;
                }
                if (day <= daysInMonth) {
                    cell.textContent = day;
                    const date = `${currentYear}-${currentMonth + 1 < 10 ? '0' + (currentMonth + 1) : currentMonth + 1}-${day < 10 ? '0' + day : day}`;
                    cell.onclick = () => selectDate(date, cell);
                    if (availableTimes[date]) {
                        cell.classList.add('available');
                    }
                    day++;
                }
                row.appendChild(cell);
            }
            calendarBody.appendChild(row);
        }
    }

    function selectDate(date, cell) {
        if (selectedDate) {
            selectedDate.classList.remove('selected');
        }
        selectedDate = cell;
        cell.classList.add('selected');
        loadAvailableTimes(date);
    }

    function loadAvailableTimes(date) {
        const timeOptions = document.getElementById('time-options');
        timeOptions.innerHTML = '';

        if (availableTimes[date]) {
            availableTimes[date].forEach(time => {
                const button = document.createElement('button');
                button.className = 'time-button';
                button.textContent = time;
                button.onclick = () => selectTime(date, time, button);
                timeOptions.appendChild(button);
            });
        } else {
            timeOptions.innerHTML = '<p>Нет доступного времени на выбранный день.</p>';
        }
    }

    function selectTime(date, time, button) {
        if (selectedTime) {
            selectedTime.classList.remove('selected');
        }
        selectedTime = button;
        button.classList.add('selected');

        const selectedDateTimeElement = document.getElementById('selected-date-time');
        selectedDateTimeElement.textContent = `Выбрана дата: ${date}, время: ${time}`;
    }

    document.querySelector('.calendar-arrow-left').addEventListener('click', () => {
        if (currentMonth === 0) {
            currentMonth = 11;
            currentYear--;
        } else {
            currentMonth--;
        }
        generateCalendar();
    });
    document.getElementById('file-upload').addEventListener('change', function () {
        const fileName = this.files[0] ? this.files[0].name : 'Файл не выбран';
        document.getElementById('file-name').textContent = fileName;
    });


    document.querySelector('.calendar-arrow-right').addEventListener('click', () => {
        if (currentMonth === 11) {
            currentMonth = 0;
            currentYear++;
        } else {
            currentMonth++;
        }
        generateCalendar();
    });

    generateCalendar();

</script>

</body>
</html>
