<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>WARFARIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <main>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/warfarin.png') }}" alt="WARFARIN Logo">
            </div>
            <h1>WARFARIN</h1>
            <p>ваше здоровье — наш приоритет</p>
            <div class="button-group">
                <a href="/book" class="button primary-button">Запись к врачу</a>
                <a href="/online" class="button secondary-button">Врачи онлайн</a>
            </div>
        </main>
        <footer>
            <p>Теперь вы можете получить консультацию мгновенно через Telegram</p>
        </footer>
    </div>
</body>
</html>
